<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./inc/head')%>
</head>

<body>
    <%-include('./inc/nav')%>
        <section>
            <h1>Hakkımızda</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam id est voluptatem eaque. Dolorum mollitia
                odit rerum veritatis exercitationem dolore!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam id est voluptatem eaque. Dolorum mollitia
                odit rerum veritatis exercitationem dolore!
            </p>
        </section>
</body>

</html>